<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="register-container">
  <div class="register-box">

    <h1>Register</h1>

    <form method="POST" action="/user/register">
      <input name="name" placeholder="Name" required />
      <input name="email" type="email" placeholder="Email" required />
      <input name="password" type="password" placeholder="Password" required />

      <select name="role" required>
        <option value="student">Student</option>
        <option value="faculty">Faculty</option>
      </select>

      <button type="submit" class="btn">Register</button>
    </form>

    <br>
    <a href="/login">Already have an account? Login</a>

  </div>
</div>

</body>
</html>